body {
  background-color: #D3E1E8;
  font-family: 'Open Sans', sans-serif;
}

p, li {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spartan', sans-serif;
}

a {
  text-decoration: none;
}

#method1 b {
display:none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.smallerfont {
  font-size: 14px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
